@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.sb-invisible::-webkit-scrollbar {
	display: none;
}

@layer components {
	.drag {
		-webkit-app-region: drag;
	}

	.sidebar-icon {
		@apply h-12 w-12 shadow-lg bg-white dark:bg-gray-800 text-green-500 hover:bg-green-600
			 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-200 cursor-pointer
			 flex items-center justify-center active:rounded-lg flex-shrink-0;
	}

	.tooltip {
		@apply absolute z-[1] rounded-md shadow-md text-gray-900 bg-white dark:text-white
			 dark:bg-gray-900 text-sm font-bold transition-opacity opacity-0 select-none
			 pointer-events-none duration-200 p-2;
	}

	.no-drag {
		-webkit-app-region: no-drag;
	}

	.window-button {
		@apply h-full w-12 hover:brightness-95 active:brightness-90 dark:hover:brightness-[120%]
			   dark:active:brightness-[130%] bg-light-bg dark:bg-dark-bg dark:fill-white flex
			   justify-center items-center;

		transition: 300ms;
	}

	.window-close:hover svg {
		@apply fill-white;
	}

	.window-close:hover {
		@apply bg-red-600;
	}
}

:root {
	--background-body: #fff;
	--background: #efefef;
	--background-alt: #f7f7f7;
	--selection: #9e9e9e;
	--text-main: #363636;
	--text-bright: #000;
	--text-muted: #70777f;
	--links: #0076d1;
	--focus: #0096bfab;
	--border: #dbdbdb;
	--code: #000;
	--animation-duration: 0.1s;
	--button-base: #d0cfcf;
	--button-hover: #9b9b9b;
	--scrollbar-thumb: rgb(170 170 170);
	--scrollbar-thumb-hover: var(--button-hover);
	--form-placeholder: #949494;
	--form-text: #1d1d1d;
	--variable: #39a33c;
	--highlight: #ff0;
	--select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-body: #202b38;
		--background: #161f27;
		--background-alt: #1a242f;
		--selection: #1c76c5;
		--text-main: #dbdbdb;
		--text-bright: #fff;
		--text-muted: #a9b1ba;
		--links: #41adff;
		--focus: #0096bfab;
		--border: #526980;
		--code: #ffbe85;
		--animation-duration: 0.1s;
		--button-base: #0c151c;
		--button-hover: #040a0f;
		--scrollbar-thumb: var(--button-hover);
		--scrollbar-thumb-hover: rgb(0 0 0);
		--form-placeholder: #a9a9a9;
		--form-text: #fff;
		--variable: #d941e2;
		--highlight: #efdb43;
		--select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
	}
}

body,
html {
	height: 100%;
}

body,
main {
	display: flex;
	flex-direction: column;
}

main {
	overflow: auto;
}

html {
	scrollbar-color: var(--scrollbar-thumb) var(--background-body);
	scrollbar-width: thin;
}

body {
	font-size: 16px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
		"Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji",
		"Noto Color Emoji", sans-serif;
	line-height: 1.4;
	word-wrap: break-word;
	color: var(--text-main);
	background: var(--background-body);
	text-rendering: optimizelegibility;
	overflow: hidden;
}

/*
button,
input,
textarea {
	background-color: var(--button-base);
	color: var(--form-text);
	font-family: inherit;
	font-size: inherit;
	margin-bottom: 6px;
	padding: 10px 30px;
	border: 0;
	border-radius: 6px;
	outline: 0;
	transition: background-color var(--animation-duration) linear,
		border-color var(--animation-duration) linear,
		color var(--animation-duration) linear,
		box-shadow var(--animation-duration) linear,
		transform var(--animation-duration) ease;
}

input,
textarea {
	background-color: var(--background);
	padding: 10px;
}

button,
input {
	margin-right: 6px;
}

input {
	vertical-align: top;
}

textarea {
	margin-right: 0;
	box-sizing: border-box;
	resize: vertical;
}

h1 {
	font-size: 2.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 12px;
	margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--text-bright);
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th {
	font-weight: 600;
}

blockquote {
	border-left: 4px solid var(--background);
	padding-left: 1em;
}

a > code,
a > strong {
	color: inherit;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="range"],
input[type="reset"],
input[type="submit"],
select {
	cursor: pointer;
}

input,
select,
textarea {
	display: block;
}

[type="checkbox"],
[type="radio"] {
	display: initial;
}

select {
	background: var(--background) var(--select-arrow) calc(100% - 12px) 50%/12px
		no-repeat;
	color: var(--form-text);
	font-family: inherit;
	font-size: inherit;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 10px 35px 10px 10px;
	border: 0;
	border-radius: 6px;
	outline: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: var(--button-base);
	padding-right: 30px;
	padding-left: 30px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: var(--button-hover);
}

input[type="color"] {
	min-height: 2rem;
	padding: 8px;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
	height: 1em;
	width: 1em;
}

input[type="radio"] {
	border-radius: 100%;
}

label {
	vertical-align: middle;
	margin-bottom: 4px;
	display: inline-block;
}

button,
input:not([type="checkbox"], [type="radio"]),
input[type="range"],
select,
textarea {
	appearance: none;
}

textarea:not([cols]) {
	width: 100%;
}

textarea:not([rows]) {
	min-height: 40px;
	height: 140px;
}

select::-ms-expand {
	display: none;
}

select[multiple] {
	padding-right: 10px;
	background-image: none;
	overflow-y: auto;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
	box-shadow: 0 0 0 2px var(--focus);
}

button:active,
input[type="button"]:active,
input[type="checkbox"]:active,
input[type="radio"]:active,
input[type="range"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	transform: translateY(2px);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

fieldset {
	border: 1px var(--focus) solid;
	border-radius: 6px;
	margin: 0 0 12px;
	padding: 10px;
}

legend {
	font-size: 0.9em;
	font-weight: 600;
}

input[type="range"] {
	margin: 10px 0;
	padding: 10px 0;
	background: 0 0;
}

input[type="range"]:focus {
	outline: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 9.5px;
	transition: 0.2s;
	background: var(--background);
	border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
	box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--border);
	appearance: none;
	margin-top: -7px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: var(--background);
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 9.5px;
	transition: 0.2s;
	background: var(--background);
	border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--border);
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 9.5px;
	background: 0 0;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

input[type="range"]::-ms-fill-lower {
	background: var(--background);
	border: 0.2px solid #010101;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
	background: var(--background);
	border: 0.2px solid #010101;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
	box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
	border: 1px solid #000;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--border);
}

input[type="range"]:focus::-ms-fill-lower {
	background: var(--background);
}

input[type="range"]:focus::-ms-fill-upper {
	background: var(--background);
}

a {
	text-decoration: none;
	color: var(--links);
}

a:hover {
	text-decoration: underline;
}

code,
kbd,
samp,
time {
	background: var(--background);
}

code,
samp,
time {
	color: var(--code);
	padding: 2.5px 5px;
	border-radius: 6px;
	font-size: 1em;
}

pre > code {
	padding: 10px;
	display: block;
	overflow-x: auto;
}

var {
	color: var(--variable);
	font-style: normal;
	font-family: monospace;
}

kbd {
	border: 1px solid var(--border);
	border-radius: 2px;
	color: var(--text-main);
	padding: 2px 4px;
}

img,
video {
	max-width: 100%;
	height: auto;
}

hr {
	border: 0;
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
	table-layout: fixed;
}

table caption,
td,
th {
	text-align: left;
}

td,
th {
	padding: 6px;
	vertical-align: top;
	word-wrap: break-word;
}

thead {
	border-bottom: 1px solid var(--border);
}

hr,
tfoot {
	border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
	background-color: var(--background);
}

tbody tr:nth-child(even) button {
	background-color: var(--background-alt);
}

tbody tr:nth-child(even) button:hover {
	background-color: var(--background-body);
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--background);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover);
}

::selection {
	background-color: var(--selection);
	color: var(--text-bright);
}

details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--background-alt);
	padding: 10px 10px 0;
	margin: 1em 0;
	border-radius: 6px;
	overflow: hidden;
}

details[open] {
	padding: 10px;
}

details > :last-child {
	margin-bottom: 0;
}

details[open] summary {
	margin-bottom: 10px;
}

summary {
	display: list-item;
	background-color: var(--background);
	padding: 10px;
	margin: -10px -10px 0;
	cursor: pointer;
	outline: 0;
}

summary:focus,
summary:hover {
	text-decoration: underline;
}

details > :not(summary) {
	margin-top: 0;
}

summary::-webkit-details-marker {
	color: var(--text-main);
}

dialog {
	background-color: var(--background-alt);
	color: var(--text-main);
	border: 0;
	border-radius: 6px;
	border-color: var(--border);
	padding: 10px 30px;
}

dialog > header:first-child {
	background-color: var(--background);
	border-radius: 6px 6px 0 0;
	margin: -10px -30px 10px;
	padding: 10px;
	text-align: center;
}

dialog::backdrop {
	background: #0000009c;
	backdrop-filter: blur(4px);
}

footer {
	border-top: 1px solid var(--border);
	padding-top: 10px;
	color: var(--text-muted);
}

body > footer {
	margin-top: 40px;
} */
